<app-breadcrumbs title="Institution" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<div class="row">
    <div class="col-lg-12">
        <div class="card" id="institutionList">
            <div class="card-header border-bottom-dashed">
                <div class="row g-4 align-items-center">
                    <div class="col-sm">
                        <div><h5 class="card-title mb-0"><i class="bx bxs-school text-muted fs-18 align-middle me-1">     </i>My Institutions</h5></div>
                    </div>
                    <div class="col-sm-auto">
                        <div class="d-flex flex-wrap align-items-start gap-2">
                            <button type="button" class="btn btn-primary add-btn" data-bs-toggle="modal" id="create-btn" data-bs-target="#showModal" (click)="openModal(content)"><i class="ri-add-line align-bottom me-1"></i> Create Institution</button>
                        </div>
                    </div>
                </div>
            </div>

            <generic-app-table 
            [headers]="headers" 
            [data]="institutionList" 
            [showActions]="false"  
            [customTemplates]="{ 'isActive': statusTemplate, 'dateCreated': dateTemplate }"
            (rowClicked)="onRowClicked($event)"
            [clickableColumns]="clickableColumns"
            >
        </generic-app-table>

            <ng-template #statusTemplate let-status let-row="row">
                <div class="status">
                    <span class="badge text-uppercase" [ngClass]="{ 'bg-success-subtle text-success': status === true, 'bg-danger-subtle text-danger': status !== true }">{{ getStatusLabel(status) }}</span>
                </div>
            </ng-template>
            <ng-template #dateTemplate let-date let-row="row">{{ date | date: 'longDate' }}</ng-template>
    
                <div id="elmLoader" *ngIf="loading">
                    <div class="spinner-border text-primary avatar-sm" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
        </div>
    </div>

    <ng-template #content role="document" let-modal>
        <div class="modal-header bg-light p-3">
            <h5 class="modal-title" id="modalLabel">Create Institution</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <form (ngSubmit)="createInstitution()" [formGroup]="institutionForm" class="tablelist-form" autocomplete="off">
            <div class="modal-body">
                <div class="mb-3">
                    <label for="name" class="form-label">Name <span class="text-danger">*</span></label>
                    <input type="text" id="name" class="form-control" placeholder="Enter Institution Name" required formControlName="name" [ngClass]="{ 'is-invalid': submitted && form['name'].errors }" />
                    <div class="invalid-feedback">Please enter a name</div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="hstack gap-2 justify-content-end">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="closeCreateInstitutionModal()"><i class="ri-close-line align-bottom me-1"></i> Close</button>
                    <button type="submit" class="btn btn-primary" id="add-btn"><i class="ri-save-2-line align-bottom me-1"></i> Save</button>
                </div>
            </div>
        </form>
    </ng-template>
</div>