<app-breadcrumbs title="PERSONNEL" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header border-bottom-dashed">
                <div class="row g-4 align-items-center">
                    <div class="col-sm">
                        <div>
                            <h5 class="card-title mb-0"><i class="ri-admin-line text-muted fs-18 align-middle me-1"> </i>Teachers</h5>
                        </div>
                    </div>
                    <div class="col-sm-auto">
                        <div class="d-flex flex-wrap align-items-start gap-2">
                            <button type="button" class="btn btn-primary add-btn" data-bs-toggle="modal" data-bs-target="#showModal" [disabled]="selectedTeachers.length > 0"  (click)="addModal(content)"><i class="ri-user-add-line align-bottom me-1"></i> Add Teachers</button>
                            <button (click)="teacherSubjectModal(manageSubjects)" [disabled]="selectedTeachers.length < 1"  class="btn btn-secondary add-btn" data-bs-toggle="modal" data-bs-target="#showModal" ><i class="ri-book-line align-bottom me-1"></i> Subjects</button>
                            <button (click)="teacherClassModal(manageClasses)" [disabled]="selectedTeachers.length < 1"  class="btn btn-info add-btn" data-bs-toggle="modal" data-bs-target="#showModal" ><i class="ri-artboard-line align-bottom me-1"></i> Classes</button>
                        </div>
                    </div>
                </div>
            </div>

           <generic-app-table 
                [headers]="headers" 
                [data]="teachersToDisplay" 
                [showActions]="true" 
                [showDelete]="true"
                [showEdit]="true"
                [showRowSelect]="true"
                (selectedRowsChange)="selectedRowsChanged($event)"
                (deleteClicked)="deleteTeacher($event)"
                (editClicked)="onEditClick($event, teacherInfo)"
                tableId="teachersTable">
            </generic-app-table>
        </div>
    </div>

    <app-loading [loading]="loading"></app-loading>
    <ng-template #content role="document" let-modal>
        <div class="modal-header p-3 bg-light">
            <h5 class="modal-title">Add Teachers</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal" (click)="dismissModal()"></button>
        </div>
    <form class="tablelist-form" autocomplete="off" autocomplete="off" [formGroup]="addTeacherForm" >
        <div class="modal-body">
            <div class="mb-3">
                <label class="form-label">Employees <span class="text-danger">*</span></label>
                <ng-select [items]="employees" formControlName="ids" bindLabel="givenNames" bindValue="id" [multiple]="true" [ngClass]="{ 'is-invalid': submitted && fAddTeachersForm['ids'].invalid }" placeholder="Select Employees">
                </ng-select>
                <div class="invalid-feedback">You have to select at least one employee</div>
            </div>
        </div>
    </form>

    <div class="modal-footer">
        <div class="hstack gap-2 justify-content-end">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="dismissModal()"><i class="ri-close-line align-bottom me-1"></i> Close</button>
            <button type="submit" class="btn btn-primary" (click)="onSubmitAddTeacher()" id="add-btn"><i class="ri-save-2-line align-bottom me-1"></i> Save</button>
        </div>
    </div>
    </ng-template>

    <ng-template #manageSubjects role="document" let-modal>
        <div class="modal-header p-3 bg-light">
            <h5 class="modal-title">Teacher Subjects</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal" (click)="dismissModal()"></button>
        </div>
        <form class="tablelist-form" autocomplete="off" autocomplete="off" [formGroup]="teacherSubjectForm" >
           <div class="modal-body">
            <div class="row g-3">
            <div class="col-lg-6">
                <label class="form-label">Teachers <span class="text-danger">*</span></label>
                <ng-select [items]="selectedTeachers" formControlName="teacherIds" bindLabel="givenNames" bindValue="id" [multiple]="true" [ngClass]="{ 'is-invalid': submitted && fTeacherSubjectForm['teacherIds'].invalid }" placeholder="Select Teachers">
                </ng-select>
                <div class="invalid-feedback">You have to select at least one teacher</div>
            </div>
            <div class="col-lg-6">
                <label class="form-label">Subjects <span class="text-danger">*</span></label>
                <ng-select [items]="subjects" formControlName="subjectIds" bindLabel="name" bindValue="id" [multiple]="true" [ngClass]="{ 'is-invalid': submitted && fTeacherSubjectForm['subjectIds'].invalid }" placeholder="Select Subjects">
                </ng-select>
                <div class="invalid-feedback">You have to select at least one subject</div>
            </div>
            </div>
        </div>
        </form>

        <div class="modal-footer">
            <div class="hstack gap-2 justify-content-end">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onSubmitTeacherSubjects()"><i class="ri-user-shared-line align-bottom me-1"></i> Assign</button>
                <button type="button" class="btn btn-danger" (click)="onSubmitTeacherSubjects(true)" id="add-btn"><i class="ri-delete-bin-line align-bottom me-1"></i> Unassign</button>
            </div>
        </div>
    </ng-template>

    <ng-template #manageClasses role="document" let-modal>
        <div class="modal-header p-3 bg-light">
            <h5 class="modal-title">Teacher Classes</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal" (click)="dismissModal()"></button>
        </div>
        <form class="tablelist-form" autocomplete="off" autocomplete="off" [formGroup]="teacherClassForm" >
           <div class="modal-body">
            <div class="row g-3">
            <div class="col-lg-12">
                <label class="form-label">Teachers <span class="text-danger">*</span></label>
                <ng-select [items]="selectedTeachers" formControlName="teacherIds" bindLabel="givenNames" bindValue="id" [multiple]="true" [ngClass]="{ 'is-invalid': submitted && fTeacherClassForm['teacherIds'].invalid }" placeholder="Select Teachers">
                </ng-select>
                <div class="invalid-feedback">You have to select at least one teacher</div>
            </div>
            <div class="col-lg-6">
                <label class="form-label">Classes <span class="text-danger">*</span></label>
                <ng-select [items]="classes" formControlName="classIds" bindLabel="name" bindValue="id" [multiple]="true" [ngClass]="{ 'is-invalid': submitted && fTeacherClassForm['classIds'].invalid }" placeholder="Select Classes">
                </ng-select>
            <div class="invalid-feedback">You have to select at least one class</div>
            </div>
            <div class="col-lg-6">
                <label class="form-label">Class Section</label>
                <ng-select [items]="classSections" formControlName="classSectionIds" bindLabel="name" bindValue="id" [multiple]="true"  placeholder="Select Class Sections"></ng-select>
            </div>
            </div>
            </div>
        </form>

        <div class="modal-footer">
            <div class="hstack gap-2 justify-content-end">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onSubmitTeacherClasses(false)"><i class="ri-user-shared-line align-bottom me-1"></i> Assign</button>
                <button type="button" class="btn btn-danger" (click)="onSubmitTeacherClasses(true)" id="add-btn"><i class="ri-delete-bin-line align-bottom me-1"></i> Unassign</button>
            </div>
        </div>
    </ng-template>

    <ng-template #teacherInfo role="document" let-modal>
        <div class="modal-header p-3 bg-light">
            <h5 class="modal-title">{{selectedTeacher?.personnel?.familyName}} {{selectedTeacher?.personnel?.givenNames }} [{{activeAcademicYear.name}}]</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="dismissTeacherInfoModal()"></button>
        </div>

        <div class="col-xxl-12">
            <ul ngbNav #Justify="ngbNav" [activeId]="1" class="nav nav-tabs nav-tabs-custom nav-primary nav-justified mb-3">
                <li [ngbNavItem]="1"><a ngbNavLink><span class="d-sm-block">Subjects</span></a>
                    <ng-template ngbNavContent>
                        <form>
                            <div class="modal-body">
                                <div class="row g-3">
                                    <div class="col-lg-10">
                                        <ng-select [ngModelOptions]="{standalone: true}" [items]="subjects" bindLabel="name"
                                            multiple="true" [(ngModel)]="selectedTeacherSelectedSubjects" bindValue="id"
                                            placeholder="Select Subjects"></ng-select>
                                    </div>
                                    <div class="col-lg-2">
                                        <button [disabled]="selectedTeacherSelectedSubjects.length < 1"
                                            (click)="onSelectedTeacherSubjectsSaveClick()" class="btn btn-primary w-100"><i
                                                class=" ri-save-2-line align-bottom me-1"></i> Save</button>
                                    </div>
                                    <div class="col-lg-12 card">
                                        <generic-app-table [headers]="selectedTeacherSubjectsHeaders"
                                            [data]="selectedTeacherSubjects" [showActions]="true" [showDelete]="true"
                                            [showEdit]="false" [showRowSelect]="false"
                                            (deleteClicked)="onSelectedTeacherSubjectDeleteClick($event)">
                                        </generic-app-table>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2"><a ngbNavLink><span class="d-sm-block">Classes</span></a>
                    <ng-template ngbNavContent>
                        <form>
                            <div class="modal-body">
                                <div class="row g-3">
                                    <div class="col-lg-5">
                                        <ng-select [ngModelOptions]="{standalone: true}" [items]="classes" bindLabel="name"
                                            multiple="true" [(ngModel)]="selectedTeacherSelectedClasses" bindValue="id"
                                            placeholder="Select Classes"></ng-select>
                                    </div>
                                    <div class="col-lg-5">
                                        <ng-select [ngModelOptions]="{standalone: true}" [items]="classSections" bindLabel="name"
                                            multiple="true" [(ngModel)]="selectedTeacherSelectedClassSections" bindValue="id"
                                            placeholder="Select Sections"></ng-select>
                                    </div>
                                    <div class="col-lg-2">
                                        <button [disabled]="selectedTeacherSelectedClasses.length < 1"
                                            (click)="onSelectedTeacherClassSaveClick()" class="btn btn-primary w-100"><i
                                                class=" ri-save-2-line align-bottom me-1"></i> Save</button>
                                    </div>
                                    <div class="col-lg-12 card">
                                        <generic-app-table [headers]="selectedTeacherClassesHeaders"
                                            [data]="selectedTeacherClasses" [showActions]="true" [showDelete]="true"
                                            [showEdit]="false" [showRowSelect]="false"
                                            (deleteClicked)="onSelectedTeacherClassDeleteClick($event)">
                                        </generic-app-table>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </ng-template>
                </li>
                 <li [ngbNavItem]="3"><a ngbNavLink><span class="d-sm-block">Sections</span></a>
                    <ng-template ngbNavContent>
                        <form>
                            <div class="modal-body">
                                <div class="row g-3">
                                    <div class="col-lg-12 card">
                                        <generic-app-table [headers]="selectedTeacherSectionHeaders" [data]="selectedTeacherSections" [showActions]="false" ></generic-app-table>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </ng-template>
                </li>
            </ul>
            <div class="tab-content  text-muted">
                <div [ngbNavOutlet]="Justify"></div>
            </div>
        </div>

        <div class="modal-footer">
            <div class="hstack gap-2 justify-content-end">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="dismissTeacherInfoModal()"><i class="ri-close-line align-bottom me-1"></i> Close</button>
            </div>
        </div>
    </ng-template>
</div>