<div class="auth-page-wrapper pt-5">
    <!-- auth page bg -->
    <div class="auth-one-bg-position auth-one-bg" id="auth-particles">
        <div class="bg-overlay"></div>

        <div class="shape">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 1440 120">
                <path d="M 0,36 C 144,53.6 432,123.2 720,124 C 1008,124.8 1296,56.8 1440,40L1440 140L0 140z"></path>
            </svg>
        </div>
    </div>

    <!-- auth page content -->
    <div class="auth-page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mt-sm-5 mb-4 text-white-50">
                        <div>
                            <a href="javascript:void(0);" class="d-inline-block auth-logo">
                                <img src="assets/images/logo-light.png" alt="" height="20">
                            </a>
                        </div>
                        <p class="mt-3 fs-15 fw-medium">Believe, Innovate And Elevate</p>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card mt-4">

                        <div class="card-body p-4">
                            <div class="text-center mt-2">
                                <h5 class="text-primary">Create New Account</h5>
                                <p class="text-muted">Get your free account now</p>
                            </div>
                            <div class="p-2 mt-4">
                                <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

                                    <div class="mb-3">
                                        <label for="familyName" class="form-label">Family Name <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="familyName" placeholder="Enter Family Name" required formControlName="familyName"
                                            [ngClass]="{ 'is-invalid': submitted && f['familyName'].errors }">
                                        <div class="invalid-feedback">Please Enter Family Name </div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="givenNames" class="form-label">Given Names <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="givenNames" placeholder="Enter Given Names" required formControlName="givenNames"
                                            [ngClass]="{ 'is-invalid': submitted && f['givenNames'].errors }">
                                        <div class="invalid-feedback"> Please Enter Given Names </div>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">Country</label>
                                        <ng-select appearance="outline" [searchable]="true" [clearable]="false" placeholder="Select Country">
                                            @for ( data of countriesData; track $index) {
                                            <ng-option value="null">
                                                <img src="{{data.flagImg}}" alt="country flag" class="options-flagimg" height="20">{{data.countryName}}
                                                <span class="countrylist-codeno text-muted">{{data.countryCode}}</span>
                                            </ng-option>
                                            }
                                        </ng-select>
                                    </div>

                                    <div class="mb-3">
                                        <label for="phone" class="form-label">Phone <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="phone" placeholder="Enter Phone Number" required formControlName="phone"
                                            [ngClass]="{ 'is-invalid': submitted && f['phone'].errors }">
                                        <div class="invalid-feedback"> Please Enter phone </div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="password" class="form-label">Password <span class="text-danger">*</span></label>
                                        <input type="password" class="form-control" id="password" placeholder="Enter Password" required formControlName="password"
                                            [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
                                        <div class="invalid-feedback"> Please Enter Password </div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="confirmPassword" class="form-label">Confirm Password <span class="text-danger">*</span></label>
                                        <input type="password" class="form-control" id="confirmPassword" placeholder="Enter password" required formControlName="confirmPassword"
                                          [ngClass]="{ 'is-invalid': submitted && (f['confirmPassword'].errors || signupForm.errors?.['passwordMismatch']) }">
                                        <div class="invalid-feedback">
                                          <span *ngIf="f['confirmPassword'].errors?.['required']">Please Enter Confirm Password</span>
                                          <span *ngIf="signupForm.errors?.['passwordMismatch']">Passwords do not match</span>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="sex" class="form-label">Gender <span class="text-danger">*</span></label>
                                        <select id="sex" class="form-select" formControlName="sex" [ngClass]="{ 'is-invalid': submitted && f['sex'].errors }">
                                          <option value="" disabled selected>Select </option>
                                          <option *ngFor="let sex of sexOptions" [value]="sex.dataCode">{{ sex.text }}</option>
                                        </select>
                                        <div class="invalid-feedback">Please select gender</div>
                                    </div>

                                    <div class="mb-4">
                                        <p class="mb-0 fs-12 text-muted text-center">By registering you agree to our <a href="javascript:void(0);"
                                                class="text-primary text-decoration-underline fst-normal fw-medium">Terms and Conditions</a></p>
                                    </div>

                                    <div class="mt-4">
                                        <button class="btn btn-primary w-100" type="submit" [disabled]="loading$ | async">Sign Up</button>
                                    </div>
                                </form>
                                <div id="elmLoader" *ngIf="loading$ | async">
                                    <div class="spinner-border text-primary avatar-sm" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->

                    <div class="mt-4 text-center">
                        <p class="mb-0">Already have an account ? <a routerLink="/auth/login" class="fw-semibold text-primary text-decoration-underline"> Sign In </a> </p>
                    </div>

                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end auth page content -->

    <!-- footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <p class="mb-0 text-muted">&copy; {{year}} INSPIRE. Powered by ByteCreed</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end Footer -->
</div>
<!-- end auth-page-wrapper -->