<app-breadcrumbs title="Enrollment" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header border-bottom-dashed">
                <div class="row g-4 align-items-center">
                    <div class="col-sm">
                        <div><h5 class="card-title mb-0"><i class="ri-swap-box-line text-muted fs-18 align-middle me-1">     </i>Student Enrollments</h5></div>
                    </div>
                    <div class="col-sm-auto">
                        <div class="d-flex flex-wrap align-items-start gap-2">
                            <button (click)="addModal(content)" [disabled]="selectedEnrollments.length < 1" title="Enroll selected students" class="btn btn-primary add-btn" data-bs-toggle="modal" data-bs-target="#showModal" ><i class="ri-swap-box-line align-bottom me-1"></i> Enroll</button>
                            <button (click)="addModal(coursesContent)" [disabled]="selectedEnrollments.length < 1"  class="btn btn-secondary add-btn" data-bs-toggle="modal" data-bs-target="#showModal" ><i class="ri-stack-line align-bottom me-1"></i> Courses</button>
                            <button (click)="addModal(subjectsContent)" [disabled]="selectedEnrollments.length < 1"  class="btn btn-info add-btn" data-bs-toggle="modal" data-bs-target="#showModal" ><i class="ri-book-line align-bottom me-1"></i> Subjects</button>
                            <button (click)="onDeleteSubmit()" [disabled]="selectedEnrollments.length < 1" title="Deleted selected enrollments"  class="btn btn-danger add-btn" data-bs-toggle="modal" data-bs-target="#showModal" ><i class="ri-delete-bin-line align-bottom me-1"></i> Delete</button>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div ngbAccordion activeIds="static-1" [closeOthers]="true">
                            <div ngbAccordionItem class="material-shadow" id="static-1">
                                <div ngbAccordionHeader class="accordion-header border-0 bg-transparent">
                                    <button ngbAccordionButton>Filters</button>
                                </div>
                                <div ngbAccordionCollapse>
                                    <div ngbAccordionBody>
                                        <form class="tablelist-form" autocomplete="off" [formGroup]="studentEnrollmentGetForm" (ngSubmit)="getStudentEnrollments()" >
                                            <div class="row g-3">
                                                <div class="col-sm-3">
                                                    <label class="form-label">Select Academic Year</label>
                                                    <ng-select [items]="academicYears" formControlName="academicYearId" bindLabel="name" bindValue="id" placeholder="Select AcademicYear"></ng-select>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label class="form-label">Select Class</label>
                                                    <ng-select [items]="classes" formControlName="classId" bindLabel="name" bindValue="id" placeholder="Select Class"></ng-select>
                                                </div>
                                                <div class="col-sm-3">
                                                    <label class="form-label">Select Class Section</label>
                                                    <ng-select [items]="classSections" formControlName="classSectionId" bindLabel="name" bindValue="id" placeholder="Select Class Section"></ng-select>
                                                </div>
                                                 <div class="col-sm-3">
                                                    <label class="form-label">&nbsp;</label>
                                                    <button type="button" class="btn btn-primary w-100" type="submit"><i class="ri-equalizer-fill mx-2 align-bottom"></i>Filter</button>
                                                 </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <generic-app-table 
                [headers]="headers" 
                [data]="studentEnrollmentsToDisplay" 
                [showActions]="true"  
                [showDelete]="true"
                [showEdit]="true"
                (selectedRowsChange)="onSelectedRowsChange($event)"
                [showRowSelect]="true"
                (deleteClicked)="onDeleteClick($event)"
                (editClicked)="onEditClick($event, studentInfo)"
                [customTemplates]="{ 'sex': sexTemplate, 'dateOfBirth': dateOfBirthTemplate}">
                <ng-template #sexTemplate let-value>{{getSexLabel(value)}}</ng-template>
                <ng-template #dateOfBirthTemplate let-value>{{value | date: 'longDate'}}</ng-template>
            </generic-app-table>
        </div>
    </div>

    <app-loading [loading]="loading"></app-loading>

    <ng-template #content role="document" let-modal>
        <div class="modal-header p-3 bg-light">
            <h5 class="modal-title" id="modalLabel">Enroll</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal" (click)="dismissModal()"></button>
        </div>
        <form  class="tablelist-form" autocomplete="off" [formGroup]="studentEnrollmentCreateForm" (ngSubmit)="onCreateSubmit()">
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Class <span class="text-danger">*</span></label>
                    <ng-select [items]="classes" bindLabel="name" id="class" bindValue="id" formControlName="classId" placeholder="Select Class" [ngClass]="{ 'is-invalid': submitted && fStudentEnrollmentCreateForm['classId'].invalid }"></ng-select>
                    <div class="invalid-feedback">Please select a class</div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Class Section</label>
                    <ng-select [items]="classSections" bindLabel="name" id="classSections" bindValue="id" formControlName="classSectionId" placeholder="Select Class Section"></ng-select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Academic Year <span class="text-danger">*</span></label>
                    <ng-select [items]="academicYears" bindLabel="name" id="academicYear" bindValue="id" formControlName="academicYearId" placeholder="Select Academic Year" [ngClass]="{ 'is-invalid': submitted && fStudentEnrollmentCreateForm['academicYearId'].invalid }"></ng-select>
                    <div class="invalid-feedback">Please select an academic term</div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="hstack gap-2 justify-content-end">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="dismissModal()">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template #subjectsContent role="document" let-modal>
        <div class="modal-header p-3 bg-light">
            <h5 class="modal-title" id="modalLabel">Manage Subjects</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal" (click)="dismissModal()"></button>
        </div>
        <div class="col-xxl-12">
            <ul ngbNav #Justify="ngbNav" [activeId]="1" class="nav nav-tabs nav-tabs-custom nav-primary nav-justified mb-3">
                <li [ngbNavItem]="1"><a ngbNavLink><span class="d-sm-block">General</span></a>
                    <ng-template ngbNavContent>
                        <form class="tablelist-form" autocomplete="off" [formGroup]="studentSubjectForm">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label class="form-label">Subjects <span class="text-danger"> *</span></label>
                                    <ng-select [items]="subjects" bindLabel="name" multiple="true" bindValue="id"
                                        formControlName="subjectIds" placeholder="Select Subjects"
                                        [ngClass]="{ 'is-invalid': submitted && fStudentSubjectForm['subjectIds'].invalid }"></ng-select>
                                    <div class="invalid-feedback">Please select subject(s)</div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="hstack gap-2 justify-content-end">
                                    <button (click)="onCreateStudentSubjects()" class="btn btn-primary">Add Subjects</button>
                                    <button (click)=" onDeleteStudentSubjects()" class="btn btn-danger">Delete Subjects</button>
                                </div>
                            </div>
                        </form>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2"><a ngbNavLink><span class="d-sm-block">Export</span></a>
                    <ng-template ngbNavContent>
        
                    </ng-template>
                </li>
            </ul>
            <div class="tab-content  text-muted">
                <div [ngbNavOutlet]="Justify"></div>
            </div>
        </div>
    </ng-template>

    <ng-template #coursesContent role="document" let-modal>
        <div class="modal-header p-3 bg-light">
            <h5 class="modal-title" id="modalLabel">Manage Courses</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal" (click)="dismissModal()"></button>
        </div>
        <form  class="tablelist-form" autocomplete="off" [formGroup]="studentCourseForm">
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Courses <span class="text-danger"> *</span></label>
                    <ng-select [items]="courses" bindLabel="name" bindValue="id" formControlName="courseId" placeholder="Select Course" [ngClass]="{ 'is-invalid': submitted && fStudentCourseForm['courseId'].invalid }"></ng-select>
                    <div class="invalid-feedback">Please select course</div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="hstack gap-2 justify-content-end">
                    <button (click)="onCreateStudentCourse()" class="btn btn-primary">Add Course</button>
                    <button (click)="onDeleteStudentCourse()" class="btn btn-danger">Delete Course</button>
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template #studentInfo role="document" let-modal>
        <div class="modal-header p-3 bg-light">
            <h5 class="modal-title">{{selectedStudentEnrollment?.familyName}} {{selectedStudentEnrollment?.givenNames }} [{{selectedStudentEnrollment?.class}}-{{selectedStudentEnrollment?.year}}]</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="dismissStudentInfoModal()"></button>
        </div>
        <div class="col-xxl-12">
            <form>
                <div class="modal-body">
                    <ul ngbNav #Justify="ngbNav" [activeId]="1" class="nav nav-tabs nav-tabs-custom nav-primary nav-justified mb-3">
                        <li [ngbNavItem]="1"><a ngbNavLink><span class="d-sm-block">Subjects</span></a>
                            <ng-template ngbNavContent>
                                    <div class="mb-3">
                                        <ng-select [ngModelOptions]="{standalone: true}" [items]="subjects" bindLabel="name" multiple="true" [(ngModel)]="selectedStudentSelectedSubjects" bindValue="id" placeholder="Select Subjects"></ng-select>
                                    </div>
                                    <div class="card" id="student-subjects">
                                        <generic-app-table 
                                        [headers]="selectedStudentSubjectHeaders" 
                                        [data]="selectedStudentSubjects" 
                                        [showActions]="true"  
                                        [showDelete]="true"
                                        [showEdit]="false"
                                        [showRowSelect]="false"
                                        (deleteClicked)="onSelectedStudentDeleteClick($event)">
                                    </generic-app-table>
                                    </div>
                            </ng-template>
                        </li>
                        <li [ngbNavItem]="2"><a ngbNavLink><span class="d-sm-block">Course</span></a>
                            <ng-template ngbNavContent>
                            </ng-template>
                        </li>
                    </ul>
                    <div class="tab-content  text-muted">
                        <div [ngbNavOutlet]="Justify"></div>
                    </div>
                </div>
            </form>
        <div class="modal-footer">
            <div class="hstack gap-2 justify-content-end">
                <button [disabled]="selectedStudentSelectedSubjects.length < 1" (click)="onSelectedStudentSaveClick()" class="btn btn-primary px-3"><i class=" ri-save-2-line align-bottom me-1"></i> Save</button>
                <button [disabled]="selectedStudentSubjects.length < 1" (click)="onPrint()" class="btn btn-info px-3"><i class="ri-printer-line align-bottom me-1"></i> Print Subjects</button>
            </div>
        </div>
     </div>
    </ng-template>
</div>