<app-breadcrumbs title="Sections" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <ul ngbNav #Bordered="ngbNav" [activeId]="2" class="nav nav-tabs nav-tabs-custom nav-primary nav-justified mb-3">
                  <li [ngbNavItem]="1"><a ngbNavLink><i class="ri-list-settings-line"></i> General</a>
                      <ng-template ngbNavContent><form></form></ng-template>
                  </li>
                  <li [ngbNavItem]="2"><a ngbNavLink><i class="ri-artboard-line"></i> Class Sections</a>
                      <ng-template ngbNavContent>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div  class="card-header border-bottom-dashed">
                                        <div class="row g-4 align-items-center">
                                            <div class="col-sm">
                                                <div><h5 class="card-title mb-0"><i class="ri-artboard-line text-muted fs-18 align-middle me-1">   </i>Class Sections</h5></div>
                                            </div>
                                            <div class="col-sm-auto">
                                                <div class="d-flex flex-wrap align-items-start gap-2">
                                                    <button class="btn btn-primary add-btn" data-bs-toggle="modal" data-bs-target="#showModal" (click)="addModal(content)"><i class="ri-add-line align-bottom me-1"></i> Create Section</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <generic-app-table 
                                    [headers]="headers" 
                                    [data]="classSections" 
                                    [showActions]="true" 
                                    [showDelete]="true" 
                                    (editClicked)="editModal(content, $event)" 
                                    (deleteClicked)="deleteClassSection($event)">
                                </generic-app-table>
                                </div>
                            </div>
                        </div>
                      </ng-template>
                  </li>
                </ul>
                <div class="tab-content text-muted">
                  <div [ngbNavOutlet]="Bordered"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="elmLoader" *ngIf="loading">
        <div class="spinner-border text-primary avatar-sm" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <ng-template #content role="document" let-modal>
        <div class="modal-header p-3 bg-light">
            <h5 class="modal-title">{{isCreateMode ? "Create" : "Update"}} Class Section</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal" (click)="dismissModal()"></button>
        </div>
        <form  class="tablelist-form" autocomplete="off" [formGroup]="classSectionForm" (ngSubmit)="onSubmit()">
            <div class="modal-body">
                <div class="mb-3">
                    <label for="name" class="form-label">Name <span class="text-danger">*</span></label>
                    <input type="text" id="name" class="form-control" placeholder="Enter class section Name" required formControlName="name" [ngClass]="{ 'is-invalid': submitted && form['name'].errors }" />
                    <div class="invalid-feedback">Please enter a name</div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="hstack gap-2 justify-content-end">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="dismissModal()"><i class="ri-close-line align-bottom me-1"></i> Close</button>
                    <button type="submit" class="btn btn-primary" id="add-btn"><i class="ri-save-2-line align-bottom me-1"></i> Save</button>
                </div>
            </div>
        </form>
    </ng-template>
</div>