<div class="auth-page-wrapper pt-5">
    <div class="auth-one-bg-position auth-one-bg" id="auth-particles">
        <div class="bg-overlay"></div>

        <div class="shape">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 1440 120">
                <path d="M 0,36 C 144,53.6 432,123.2 720,124 C 1008,124.8 1296,56.8 1440,40L1440 140L0 140z"></path>
            </svg>
        </div>
    </div>

    <div class="auth-page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mt-sm-5 mb-4 text-white-50">
                        <div>
                            <a href="javascript:void(0);" class="d-inline-block auth-logo">
                                <img src="assets/images/logo-light.png" alt="" height="20">
                            </a>
                        </div>
                        <p class="mt-3 fs-15 fw-medium">Believe, Innovate And Elevate</p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card mt-4 card-bg-fill">

                        <div class="card-body p-4">
                            <div class="text-center mt-2">
                                <h5 class="text-primary">Welcome Back</h5>
                                <p class="text-muted">Sign in to continue</p>
                            </div>
                            <div class="p-2 mt-4">
                                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                                    <div class="mb-3">
                                        <label class="form-label">Country</label>
                                        <ng-select appearance="outline" [searchable]="true" [clearable]="false" placeholder="Country" (change)="onCountrySelected($event)"
                                            [ngClass]="{ 'is-invalid': submitted && f['countryCode'].errors }">
                                            @for ( data of countriesData; track $index) {
                                            <ng-option [value]="data">
                                                <img src="{{data.flagImg}}" alt="country flag" class="options-flagimg" height="20"  style="margin-right: 8px;">{{data.countryName}}
                                                <span class="countrylist-codeno text-muted">{{data.countryCode}}</span>
                                            </ng-option>
                                            }
                                        </ng-select>
                                        @if (submitted && f['countryCode'].errors) {
                                        <div class="invalid-feedback">
                                            <div>Country is required</div>
                                        </div>
                                        }
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="phone">Phone</label>
                                        <input type="number" class="form-control" id="phone" formControlName="phone"
                                            [ngClass]="{ 'is-invalid': submitted && f['phone'].errors }"
                                            placeholder="Enter Phone Number">
                                        @if (submitted && f['phone'].errors) {
                                        <div class="invalid-feedback">
                                            @if(f['phone'].errors['required']){
                                            <div>Phone is required</div>}
                                        </div>
                                        }
                                    </div>

                                    <div class="mb-3">
                                        <div class="float-end">
                                            <a routerLink="/pass-reset/basic" class="text-muted">Forgot password?</a>
                                        </div>
                                        <label class="form-label" for="password-input">Password</label>
                                        <div class="position-relative auth-pass-inputgroup mb-3">
                                            <input [type]="fieldTextType ? 'text' : 'password'"
                                                class="form-control pe-5" placeholder="Enter password"
                                                id="password-input" formControlName="password"
                                                [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
                                            <button
                                                class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted"
                                                type="button" id="password-addon"><i class="mdi align-middle" [ngClass]="{'mdi-eye-off-outline': !fieldTextType, 'mdi-eye-outline': fieldTextType
                                          }" (click)="toggleFieldTextType()"></i></button>
                                            @if (submitted && f['password'].errors) {
                                            <div class="invalid-feedback">
                                                @if(f['password'].errors['required']){
                                                <span>Password is required</span>
                                                }
                                            </div>
                                            }
                                        </div>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value=""
                                            id="auth-remember-check">
                                        <label class="form-check-label" for="auth-remember-check">Remember me</label>
                                    </div>

                                    <div class="mt-4">
                                        <button class="btn btn-primary w-100" type="submit" [disabled]="loading">Sign
                                            In</button>
                                    </div>

                                    <div class="mt-4 text-center">
                                        <div class="signin-other-title">
                                            <h5 class="fs-13 mb-4 title">Sign In with</h5>
                                        </div>
                                        <div class="d-flex gap-2 justify-content-center">
                                            <button type="button" class="btn btn-success  btn-icon waves-effect waves-light" title="WhatsApp" (click)="whatsAppLogin(whatsAppLoginContent)">
                                                <i class="ri-whatsapp-fill fs-16" ></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <div id="elmLoader" *ngIf="loading">
                                    <div class="spinner-border text-primary avatar-sm" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-4 text-center">
                        <p class="mb-0">Don't have an account ? <a routerLink="/auth/register"
                                class="fw-semibold text-primary text-decoration-underline"> Signup </a> </p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <p class="mb-0 text-muted">&copy; {{year}} INSPIRE. Powered by ByteCreed</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>


<ng-template #selectInstitutionContent role="document" let-modal>
    <div class="modal-header p-3 bg-primary-subtle">
        <h5 class="modal-title" id="modalLabel1">Select Institution</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
            (click)="closeSelectInstitutionModal()"></button>
    </div>
    <div style="background-color: #F3F3F9; padding: 1rem;">
        <div class="col-12">
            <div class="mb-4">
                <p class="text-muted"><code>Multiple institutions found.</code> Please select a default institution. You
                    can always change it later.</p>
                <ng-select class="w-100" [(ngModel)]="selectedInstitution" placeholder="Search or select institution">
                    <ng-option *ngFor="let institution of institutions"
                        [value]="institution">{{institution.name}}({{institution.code}})</ng-option>
                </ng-select>
            </div>
            <div class="mb-4">
                <button type="button" class="btn btn-primary w-100" [disabled]="!selectedInstitution"
                    (click)="onSelectInstitutionContinue()">Continue <i class="ri-arrow-right-s-line"></i></button>
            </div>
        </div>
    </div>
</ng-template>


<ng-template #selectAppContent role="document" let-modal>
    <div class="modal-header p-3 bg-primary-subtle">
        <h5 class="modal-title" id="modalLabel2">Select Application</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
            (click)="closeSelectApplicationModal()"></button>
    </div>
    <div style="background-color: #F3F3F9; padding: 1rem;">
        <div class="p-2">
            <p class="text-muted"><code>Multiple applications Found.</code> Please select a default application. You can
                always change it later.</p>
            <div class="row g-2">
                <div class="col-12 col-lg-6">
                    <button class="btn btn-primary w-100 py-4 d-flex align-items-center justify-content-center"
                        [disabled]="!this.applicationTypes.includes(ApplicationTypeEnum.School)"
                        (click)="onSelectApplication(ApplicationTypeEnum.School)">
                        <img src="assets/images/brands/school.png" alt="school" class="me-2">
                        <span>School</span>
                    </button>
                </div>
                <div class="col-12 col-lg-6">
                    <button class="btn btn-primary w-100 py-4 d-flex align-items-center justify-content-center"
                        [disabled]="!this.applicationTypes.includes(ApplicationTypeEnum.Student)"
                        (click)="onSelectApplication(ApplicationTypeEnum.Student)">
                        <img src="assets/images/brands/graduating-student.png" alt="student" class="me-2">
                        <span>Student</span>
                    </button>
                </div>
                <div class="col-12 col-lg-6">
                    <button class="btn btn-primary w-100 py-4 d-flex align-items-center justify-content-center"
                        [disabled]="!this.applicationTypes.includes(ApplicationTypeEnum.Parent)"
                        (click)="onSelectApplication(ApplicationTypeEnum.Parent)">
                        <img src="assets/images/brands/family.png" alt="family" class="me-2">
                        <span>Parent</span>
                    </button>
                </div>
                <div class="col-12 col-lg-6">
                    <button class="btn btn-primary w-100 py-4 d-flex align-items-center justify-content-center"
                        [disabled]="!this.applicationTypes.includes(ApplicationTypeEnum.Admin)"
                        (click)="onSelectApplication(ApplicationTypeEnum.Admin)">
                        <img src="assets/images/brands/system-administrator.png" alt="Admin" class="me-2">
                        <span>Admin</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>


<ng-template #whatsAppLoginContent role="document" let-modal>
    <div class="modal-header p-3">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal" (click)="dismissModal()"></button>
    </div>
    <div id="otpless-login-page" style="border-style: none !important;"></div>
</ng-template>