<app-breadcrumbs title="Admission" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<div class="row">
    <div class="col-xxl-12">
        <div class="card">
            <div class="card-body">
                <ul ngbNav #Bordered="ngbNav" [activeId]="2" class="nav nav-tabs nav-tabs-custom nav-primary nav-justified mb-3">
                  <li [ngbNavItem]="1"><a ngbNavLink><i class=" ri-calendar-event-line"></i> Admission</a>
                      <ng-template ngbNavContent>
                        <form></form>
                      </ng-template>
                  </li>
                  <li [ngbNavItem]="2"><a ngbNavLink><i class="ri-list-ordered"></i> Admission Number</a>
                      <ng-template ngbNavContent>
                        <form [formGroup]="admissionNumberSettingsForm" (ngSubmit)="onSaveAdmissionForm()">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label for="prefix" class="form-label">Prefix</label>
                                        <input type="text" class="form-control" id="prefix" placeholder="Enter Prefix" formControlName="prefix"  >
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label for="startFromNumber" class="form-label">Starting Number <span class="text-danger">*</span></label>
                                        <input type="number" class="form-control" id="startingNumber" placeholder="Enter Starting Number" formControlName="startingNumber"  required [ngClass]="{ 'is-invalid': submitted && fAdmissionNumberSettings['startingNumber'].errors }">
                                        <div class="invalid-feedback">Please Enter Starting Number</div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label for="suffix" class="form-label">Suffix</label>
                                        <input type="text" class="form-control" id="suffix" placeholder="Enter Suffix" formControlName="suffix">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="hstack gap-2 justify-content-end">
                                        <button type="submit" class="btn btn-primary"><i class="ri-save-2-line align-bottom me-1"></i> Save</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                      </ng-template>
                  </li>
                </ul>
                <div class="tab-content text-muted">
                  <div [ngbNavOutlet]="Bordered"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="elmLoader" *ngIf="loading">
        <div class="spinner-border text-primary avatar-sm" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>
