.nav-tabs .tab-income {
    color: green !important;
}

.nav-tabs .tab-expenses {
    color: red !important;
}

.nav-tabs .tab-income.active {
    color: darkgreen !important;
}

.nav-tabs .tab-expenses.active {
    color: red !important;
}

