// .search-box {
//     max-width: 100%; 
//     margin: 0 auto; 
// }

// .table {
//     width: 100%; 
//     margin: 0 auto; 
// }
// .table th, .table td {
//     text-align: left; 
// }

// .table th {
//     background-color: #f8f9fa; 
//     font-weight: bold; 
// }

// .table tbody tr:hover {
//     background-color: #e9ecef; 
// }

// .table-bordered {
//     border: 1px solid #dee2e6; 
// }

// .table-bordered th, .table-bordered td {
//     border: 1px solid #dee2e6; 
// }

.table-xs {
  font-size: 12px;
}

.table-xs td {
  padding: 7px 12px; 
}

.table-xs th {
  padding: 8.5px 12.5px; 
}